.header-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;


  .nav-logo {

    .logo-link {
      display: flex;
      align-items: center;

      .logo__name {
        font-size: 26px;
        color: #ffffff;
        padding-left: 10px;

        span {
          font-weight: 800;
        }
      }
    }

  }

  .nav-links {
    display: none;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: #afc3c8;

    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100%;

    @include breakpoint($tablet){
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      position: static;
      background-color: inherit;

      .nav-links__dest {
        color: #ffffff;
        margin-left: 25px;
        @include breakpoint($large_desktop){
          margin-left: 40px;
        }

        &:hover {
          color: #67d6d3;
        }
      }
    }
  }

  .nav-burger {
    @include breakpoint($tablet){
      display: none;
    }
  }

  .active {
    display: flex;
  }

}